.main_reviews_items.owl-carousel
    display: flex
    flex-direction: column-reverse

.owl-carousel .owl-nav
    display: flex
    justify-content: flex-end
    position: relative
    bottom: -1px

.main_reviews .owl-carousel .owl-nav .owl-next, .main_reviews .owl-carousel .owl-nav .owl-prev
    padding: 16px 20px 10px 25px !important
    color: #CCCCCC
    span
        font-size: 18px

.owl-carousel .owl-nav button
    &.owl-prev
        border-left: 1px solid #858585
        border-top: 1px solid #858585
    &.owl-next
        border-right: 1px solid #858585
        border-top: 1px solid #858585
    &:hover
        border-top: 1px solid #383838
        border-left: 1px solid #383838
        border-right: 1px solid #383838

.owl-portfolio
    overflow-x: clip
    & .owl-stage
        display: flex
    & .owl-nav
        &.disabled
            display: none
.main_portfolio
    & .owl-nav
        & button
            border: none
            background: #fff
            &.owl-prev
                border: 1px solid #858585
                padding: 16px 20px 10px 25px !important
                color: #CCCCCC
                span
                    font-size: 18px
            &.owl-next
                border: 1px solid #858585
                padding: 16px 20px 10px 25px !important
                color: #CCCCCC
                span
                    font-size: 18px
            &:hover
                border: 1px solid #383838
    & .owl-stage-outer 
        overflow: hidden

.main_portfolio
    .owl-nav
        display: flex
        align-items: flex-end

.modal_portfolio_main_left.owl-carousel .owl-nav .owl-next, 
.modal_portfolio_main_left.owl-carousel .owl-nav .owl-prev
    padding: 16px 20px 10px 25px !important
    color: #CCCCCC
    span
        font-size: 18px

.modal_portfolio_main_left.owl-carousel .owl-nav button
    &.owl-prev
        border-left: 1px solid #858585
        border-top: 1px solid #858585
    &.owl-next
        border-right: 1px solid #858585
        border-top: 1px solid #858585
    &:hover
        border-top: 1px solid #383838
        border-left: 1px solid #383838
        border-right: 1px solid #383838

.modal_portfolio_main_left
    // &.owl-modal-portfolio
    //     transform: rotate(90deg)
    // .owl-item
    //      transform: rotate(-90deg)
    & .owl-nav
        margin-top: 20px
        & button
            border: none
            background: #fff
            width: 44px
            height: 44px
            display: flex
            justify-content: center
            &.owl-prev
                border-top: 1px solid #858585
                border-left: 1px solid #858585
                border-bottom: 1px solid #858585
                padding: 11px 15px 6px 16px !important
                color: #CCCCCC
                span
                    font-size: 18px
            &.owl-next
                border-top: 1px solid #858585
                border-right: 1px solid #858585
                border-bottom: 1px solid #858585
                padding: 11px 14px 6px 18px !important
                color: #CCCCCC
                span
                    font-size: 18px
            &:hover
                border: 1px solid #383838
    & .owl-stage-outer 
        overflow: hidden