@charset "UTF-8";
/* Import fonts */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* End import fonts */
/**/
/* Rebase styles */    
/* Выставляем общие настройки по-умолчанию */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

img {
  border-style: none;
}

* {
  transition: all ease-in-out 0.3s;
}
*::before {
  transition: all ease-in-out 0.3s;
}
*::after {
  transition: all ease-in-out 0.3s;
}

/* Указываем понятную периодичность в потоке данных у article */
article > * + * {
  margin-top: 1em;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
/* End rebase styles */
/**/
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  margin-top: 20px;
  border-bottom: 1px solid #CCCCCC;
  align-items: center;
}

.header_menu_items {
  display: flex;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 66px;
  margin-top: 29px;
}

.header_menu_item:nth-child(n+2) {
  margin-left: 20px;
}

.header_menu_item_link {
  text-decoration: none;
  height: inherit;
  display: inline-block;
  color: #000;
}
.header_menu_item_link::before {
  content: "";
  width: inherit;
  display: block;
  border: 1px solid #14988B;
  position: relative;
  opacity: 0;
  transform: translateY(0px);
}
.header_menu_item_link:hover::before {
  transform: translateY(52px);
  opacity: 1;
}

.header_menu {
  display: flex;
  align-items: flex-start;
  max-height: 82px;
}

.header_logo {
  max-height: 216px;
  max-width: 199px;
}

.header_telephone {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.header_telephone:hover {
  opacity: 0.7;
}

.main_banner {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_banner_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_banner_content_title {
  font-weight: 600;
  font-size: 36px;
  color: #fff;
}

.main_banner_content_order {
  color: #fff;
  font-size: 18px;
  padding: 10px 35px;
  background: #14988B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: 0;
  font-family: "Montserrat", sans-serif;
}
.main_banner_content_order:hover {
  transform: scale(1.1);
}

.main_categories {
  margin-top: 80px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
}
.main_categories:hover .main_categories_item {
  opacity: 0.5;
}
.main_categories:hover .main_categories_item:hover {
  opacity: 1;
}

.main_categories_item {
  text-align: center;
  text-decoration: none;
}

.main_categories_item_img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.main_categories_item_title {
  font-weight: 500;
  font-size: 18px;
  color: #999999;
}

.main_about {
  margin-top: 100px;
  display: flex;
  padding: 0 80px;
}

.main_about_title {
  font-weight: bold;
  font-size: 24px;
  color: #0C4E42;
  margin-bottom: 15px;
}

.main_about_logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main_about_logo img {
  width: 325.92px;
  height: 225.48px;
}

.main_about_maintext {
  color: #443E3E;
}

.main_reviews {
  padding: 0 80px;
  margin-top: 124px;
}

.main_reviews_title {
  font-weight: 600;
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
}

.main_reviews_items {
  display: flex;
  justify-content: space-between;
}

.main_review_item {
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  width: 100%;
  height: 520px;
  padding: 30px;
}

.main_review_item .main_review_item_client {
  display: flex;
  align-items: center;
}
.main_review_item .main_review_item_client img {
  width: 100px;
  height: 100px;
}

.review_client_about {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.review_client_about_name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #0D6064;
}

.review_client_about_city {
  color: #CCCCCC;
  font-weight: 500;
  font-size: 18px;
}

.main_reviews_item_text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-top: 23px;
}

.main_portfolio {
  margin-top: 140px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_portfolio::after {
  content: "";
  display: block;
  border-bottom: 1px solid #858585;
  height: 1px;
  position: relative;
  width: 100vw;
  top: -2px;
  z-index: -1;
}

.main_portfolio_left {
  max-width: 590px;
  max-height: 500px;
  padding: 15px;
  width: 100%;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.main_portfolio_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.main_portfolio_right_container {
  margin-bottom: 108px;
}

.main_portfolio_right_title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
}

.main_portfolio_right_text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  max-width: 450px;
  margin-top: 40px;
}

.main_portfolio_right_button {
  padding: 10px 35px;
  border: 0;
  font-style: normal;
  font-size: 18px;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  background: #14988B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.main_portfolio_right_button:hover {
  background: #1ac0af;
}
.main_portfolio_right_button:active {
  box-shadow: inset 0px 0px 6px 4px #0000002c;
}

.main_instagram {
  padding: 0 80px;
  margin-top: 80px;
}

.main_portfolio_container {
  display: flex;
  width: 100%;
}

.main_instagram {
  display: flex;
  justify-content: space-between;
}

.main_instagram_about {
  height: fit-content;
  padding: 20px 52px 83px 0px;
  background: url(../images/vectorinst.png) 100% 100% no-repeat;
  margin-top: 7%;
  max-width: 30%;
}

.main_instagram_about_title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  display: flex;
  flex-direction: column;
}

.main_instagram_about_text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  max-width: 380px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}

.main_instagram_about_button {
  font-style: normal;
  font-size: 18px;
  padding: 10px 35px;
  color: #FFF;
  text-decoration: none;
  background: #14988B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: 0;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}
.main_instagram_about_button:hover {
  background: #1ac0af;
}
.main_instagram_about_button:active {
  box-shadow: inset 0px 0px 6px 4px #0000002c;
}

.main_instagram_photos {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  align-items: flex-end;
  align-content: baseline;
}
.main_instagram_photos .common {
  padding: 20px;
  margin: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.main_instagram_photos .common img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main_instagram_photos .common:nth-child(1) {
  width: 40%;
  height: 40%;
}
.main_instagram_photos .common:nth-child(2) {
  width: 40%;
  height: 25%;
}
.main_instagram_photos .common:nth-child(3) {
  width: 30%;
  height: 33%;
}
.main_instagram_photos .common:nth-child(4) {
  width: 27%;
  height: 29%;
  margin-bottom: 30px !important;
}

.footer_menu_items {
  display: flex;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
}

.footer_menu_item:nth-child(n+2) {
  margin-left: 20px;
}

.footer_menu_item_link {
  text-decoration: none;
  height: inherit;
  display: inline-block;
  color: #000;
}
.footer_menu_item_link::before {
  content: "";
  width: inherit;
  display: block;
  border: 1px solid #14988B;
  position: relative;
  opacity: 0;
  transform: translateY(0px);
}
.footer_menu_item_link:hover::before {
  transform: translateY(44px);
  opacity: 1;
}

footer {
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  width: 84%;
  border-top: 1px solid #CCCCCC;
}

.footer_container {
  width: 100%;
  margin-left: 78px;
}

.footer_container_over {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_container_over::after {
  content: "";
  display: block;
  border-bottom: 1px solid #CCCCCC;
  height: 1px;
  width: 100%;
  position: absolute;
  margin-top: 44px;
}

.footer_logo {
  max-width: 139px;
  max-height: 96px;
}

.footer_menu {
  display: flex;
  align-items: flex-start;
  max-height: 82px;
}

.footer_telephone {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.footer_telephone:hover {
  opacity: 0.7;
}

.footer_container_under {
  margin: 20px 0;
}

.footer_copyright_text {
  font-style: normal;
  font-size: 18px;
  color: #CCCCCC;
  text-align: center;
}

.order_popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 999999;
  background: #00000060;
}

.order_popup_container {
  padding: 20px 20px 80px 80px;
  background: #fff;
  width: 25%;
}

.order_popup_container_button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  font-size: 20px;
  background: transparent;
}
.order_popup_container_button:hover {
  transform: scale(1.2);
}

.order_popup_container_title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  padding-right: 60px;
  margin-bottom: 25px;
}
.order_popup_container_title.hidden-end {
  display: none;
  opacity: 0;
}

.order_popup_container_form_group {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}
.order_popup_container_form_group input {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #0C4E42;
  padding: 5px 5px 5px 5px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.order_popup_container_form_group input:focus-visible {
  outline: 0;
}
.order_popup_container_form_group input::placeholder {
  opacity: 0.5;
}
.order_popup_container_form_group input.alert-input {
  animation: alert 1s ease-in-out;
}
.order_popup_container_form_group input.alert-border {
  border-bottom: 1px solid #ff0000;
}
.order_popup_container_form_group button {
  padding: 10px 35px;
  border: 0;
  max-width: 243px;
  margin: auto;
  background: #14988B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-size: 18px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.order_popup_container_button_line {
  display: flex;
  justify-content: flex-end;
}

.header_mobile_menu {
  border-bottom: 1px solid;
  position: absolute;
  top: 0;
  width: 100vw;
  background: #14988B;
}

.header_mobile_menu_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #14988B;
}
.header_mobile_menu_line .header_telephone {
  margin: 20px;
}

.header_mobile_items {
  display: flex;
  flex-direction: column;
  padding: 20px;
  list-style: none;
  font-size: 17px;
  font-weight: 500;
  margin-top: -300px;
}
.header_mobile_items.open {
  margin-top: 0px;
}

.header_mobile_item {
  display: inline-block;
  width: fit-content;
  padding: 10px 15px 10px 0;
}

.header_mobile_item_link {
  text-decoration: none;
  height: inherit;
  display: inline-block;
  color: #fff;
  font-size: 18px;
}

.header_mobile_menu_button {
  padding: 5px;
  border: 0;
  background: transparent;
  margin: 20px;
}
.header_mobile_menu_button img {
  max-height: 30px;
  max-width: 30px;
}

@keyframes alert {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.catalog_title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-top: 90px;
}

.catalog_menu {
  max-width: 1440px;
  margin: auto;
}

.catalog_portfolio_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 0 80px;
  max-width: 1440px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 120px;
  gap: 20px;
}

.catalog_portfolio_item {
  display: flex;
  position: relative;
  max-width: 373px;
  max-height: 476px;
  padding: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
}
.catalog_portfolio_item:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  transform: scale(1.03);
}
.catalog_portfolio_item:nth-child(n+4) {
  margin-top: 20px;
}

.catalog_portfolio_item_image {
  object-fit: cover;
  width: 100%;
}

.catalog_portfolio_item_text {
  font-weight: 500;
  position: absolute;
  bottom: 0;
  background: #14988B;
  color: #fff;
  font-size: 18px;
  padding: 20px 10px;
  width: 350px;
  text-align: center;
  margin-bottom: 50px;
}

.catalog_portfolio_item {
  max-width: 373px;
  max-height: 476px;
}

.modal_portfolio {
  position: fixed;
  top: 0;
  background: #00000060;
  width: calc( 100% - 130px );
  height: calc( 100% - 80px );
  padding: 40px 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_portfolio .owl-stage {
  display: flex;
}

.modal_portfolio_container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  max-width: 1280px;
  max-height: 788px;
  padding: 40px 108px 69px;
}

.modal_portfolio_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
.modal_portfolio_close:hover {
  cursor: pointer;
}

.modal_portfolio_main {
  display: flex;
  justify-content: center;
}

.modal_portfolio_main_left {
  width: 30%;
  display: flex;
  flex-direction: column;
  width: 88px;
  overflow: hidden;
  margin-left: 103px;
  margin-top: 20px;
}
.modal_portfolio_main_left .owl-item img {
  width: 88px;
  height: 88px;
}

.modal_portfolio_main_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal_portfolio_main_right {
  margin-left: 72px;
  border: 20px solid #fff;
  overflow: hidden;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
}
.modal_portfolio_main_right img {
  width: inherit;
  height: inherit;
  max-width: 666px;
  max-height: 462px;
}

.modal_portfolio_main_container img {
  width: 88px;
  height: 88px;
}

.modal_portfolio_about {
  margin-top: 40px;
  font-size: 18px;
}

.modal_portfolio_about_title {
  font-weight: 800;
  font-size: 24px;
}

.modal_portfolio_about_text {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}

@media (max-width: 1590px) {
  .catalog_portfolio_container {
    width: auto;
  }
}
@media (max-width: 1440px) {
  .main_instagram_photos .common:nth-child(1) {
    width: 35%;
    height: 35%;
  }
  .main_instagram_photos .common:nth-child(2) {
    width: 35%;
    height: 23%;
  }
  .main_instagram_photos .common:nth-child(3) {
    width: 38%;
    height: 30%;
  }
  .main_instagram_photos .common:nth-child(4) {
    width: 25%;
    height: 27%;
    margin-bottom: 30px !important;
  }

  .catalog_portfolio_item {
    max-width: calc((373px/100)*80);
    max-height: calc((476px/100)*80);
  }

  .catalog_portfolio_item_text {
    width: calc((348px/100)*80);
    font-size: 16px;
  }

  .modal_portfolio_container {
    max-height: 440px;
  }

  .modal_portfolio_main {
    max-height: 360px;
  }

  .modal_portfolio_about_text {
    font-size: 16px;
  }

  .modal_portfolio_about_title {
    font-size: 22px;
  }

  .modal_portfolio_about {
    margin-top: 20px;
    font-size: 13px;
  }

  .modal_portfolio_main_left {
    width: 105px;
  }
  .modal_portfolio_main_left div.owl-stage-outer {
    overflow-y: scroll;
  }
  .modal_portfolio_main_left ::-webkit-scrollbar {
    opacity: 0;
  }
}
@media (max-width: 1190px) {
  .catalog_title {
    margin-top: 190px;
  }
}
@media (max-width: 1070px) {
  .header_menu_items {
    font-size: 17px;
    margin-left: 20px;
  }
}
@media (max-width: 1020px) {
  .footer_container_over::after {
    width: 70%;
  }

  header {
    margin-top: 100px;
  }

  .main_categories {
    flex-wrap: wrap;
  }

  .main_categories_item {
    flex-basis: 24%;
  }

  .main_banner_content_title {
    max-width: 80%;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .main_instagram {
    flex-direction: column;
    align-items: center;
  }

  .main_instagram_about {
    max-width: 80%;
  }

  .main_instagram_photos {
    max-width: 100%;
  }

  .main_portfolio_container {
    flex-direction: column;
    align-items: center;
  }
  .main_portfolio_container .owl-nav {
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  .footer_container_over::after {
    display: none;
  }

  .catalog_portfolio_container {
    padding: 0 40px;
  }

  .catalog_portfolio_item {
    max-width: calc((373px/100)*65);
    max-height: calc((476px/100)*65);
  }
  .catalog_portfolio_item:nth-child(n+3) {
    margin-top: 20px;
  }

  .catalog_portfolio_item_text {
    width: calc((342px/100)*65);
  }
}
@media (max-width: 700px) {
  header {
    justify-content: center;
  }

  .main_about {
    flex-direction: column;
  }

  .main_about_logo {
    margin-top: 20px;
  }

  .main_instagram .main_instagram_photos div.common {
    width: 100%;
  }

  .footer_menu_items {
    flex-direction: column;
  }

  .footer_menu_item {
    margin: 10px 20px;
  }

  footer {
    align-items: center;
  }

  .catalog_portfolio_container {
    justify-content: center;
  }

  .catalog_portfolio_item {
    max-width: calc((373px/100)*90);
    max-height: calc((476px/100)*90);
  }
  .catalog_portfolio_item:nth-child(n+3) {
    margin-top: 20px;
  }

  .catalog_portfolio_item_text {
    width: calc((351px/100)*90);
  }

  .catalog_title {
    padding: 0 50px;
  }
}
@media (max-width: 550px) {
  .main_portfolio {
    padding: 0 50px;
  }

  .main_categories_item {
    flex-basis: 48%;
  }

  .main_categories_item_img {
    margin-top: 20px;
  }

  .main_reviews {
    padding: 0 20px;
  }

  .main_instagram {
    padding: 0 20px;
    margin-top: 80px;
  }

  .main_categories {
    padding: 0 20px;
  }

  .main_about {
    padding: 0 20px;
  }

  .footer_telephone {
    margin-left: -50px;
  }

  .main_banner {
    height: 300px;
  }

  .catalog_portfolio_item {
    max-width: calc((373px/100)*80);
    max-height: calc((476px/100)*80);
  }

  .catalog_portfolio_item_text {
    width: calc((351px/100)*79);
  }

  .footer_container {
    margin-left: 50px;
  }
}
@media (max-width: 450px) {
  .catalog_portfolio_item {
    max-width: calc((373px/100)*75);
    max-height: calc((476px/100)*75);
  }

  .catalog_portfolio_item_text {
    width: calc((351px/100)*74);
  }
}
@media (max-width: 400px) {
  .main_banner_content_title {
    font-size: 26px;
  }

  .header_logo {
    max-height: 148px;
    max-width: 150px;
  }

  .catalog_portfolio_item_text {
    width: calc((351px/100)*63);
    padding: 10px 10px;
  }
}